//Courses Index Page
	//Switcher Method
.product_cat-online{
	display: block;
}
.product_cat-on-campus{
	display: none;
}
.product_cat-online.no-display{
	display: none;
}
.product_cat-on-campus.display{
	display: block;
}
	//Switcher
.switcher {
	position: relative;
	margin: 0 auto;
	text-align: center;	
	top:-1.5em;
	height: 0;	
	z-index: 1;	
	.switch{
		background: $main-blue;
		display: inline-block;
		border: 3px solid $main-blue;
		overflow: hidden;
		@include shadow();
		@include radius($large-radius);
		a{
			margin:0!important;
			width: 250px;
			border-radius: 0!important;
			display: inline-block;
			border: 0!important;
			@include button($background:$white,$color:$main-blue,$background-hover:$light-blue);
				&:after, &:before{
					content: '\f070';
				   font-family: FontAwesome;
				   font-weight: normal;
				   font-style: normal;
				   margin:0px 0px 0px 10px;
				   text-decoration:none;
				   opacity: 0;
				}
				&:after{
					opacity: 1;
				}				
			&.active{
				@include button();
				&:after{content: '\f06e';}

			}	

		}
		margin:0;
	}
}

//Image Header
#featured-hero{
	margin: 0;
	.wrap{
		@include grid-row();
	}
}

//Text Header
.online-on-campus{
	background: $white;
	header{
		@include grid-row();
		position: relative;	
		overflow: hidden;	
	}
	.hidden{
		position: relative;
		visibility: hidden;
		}
	.offline{
		left: 100%;
	}
	.online{
		left: -100%;
	}			
	.online, .offline{
		position: absolute;
		width: 100%;
		top: 0;
		visibility: hidden;
		transition: $transition;
		&.active{
			left:0;
			visibility: visible;
		}
	}
}

.products{
	@include grid-row();
	.product-wrap{
		@include breakpoint(small) {
			@include grid-column(12);
		}
		@include breakpoint(medium) {
			@include grid-column(6);
		}
		.product{
			border: $border;
			@include padding-top-bottom();
			@include grid-row();
			@include radius();
			@include shadow();
			background: $white;			
			.title, .details, .skills, .short{
				@include grid-column(12);
				@include padding-top-bottom();
				border-bottom: $border;
			}
			.short{
				border-bottom: none;
			}
			.skills-buy{
				@include padding-top-bottom();
				.left, .right{
					@include breakpoint(small) {
						@include grid-column(12);
					}
					@include breakpoint(medium) {
						@include grid-column(6);
						@include padding-top-bottom();
					}
				}
				img{
				  	width: 50px !important;
    				height: 50px !important;
				}
			}
		}
	}
}



//Each Course - Index
.add_to_cart_button{
	@include button-arrow();
	background-color: $main-blue!important;
	color: $white!important;
	border: 0!important;
	&:hover{
  		background: $button-background-hover!important,
	} 
}
