body.home, .home .off-canvas-content {
    background: $white;  
}

// Page header
#front-hero {
	background: $main-blue;
	.greeter {
		@include grid-row();

		.tagline,  
		.signup{
			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(6);
			}
			.subheader{
				color: $white,
			}
		}
		.signup{
			@include radius();
			@include shadow();
			background: $white;
			overflow: hidden;
			@include foundation-forms();
			h5{
			margin-left: -0.9375rem;
 	          margin-right: -0.9375rem;
 	          text-align: center;
 	          background: $footer-blue;
 	          padding: 10px;
 	          color: $white;
 	          margin-bottom: 1rem;
			}
			input[type="text"], input[type="email"]{
				@include foundation-form-text;
			}
			input[type="*"]{
				@include no-box();
			}
			input[type="submit"]{
				@include button();
			}	
		}
	}

	@include breakpoint(small) {
		padding: 60px 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		padding: 120px 0;
	}


	.tagline {

		@include breakpoint(small) {
			@include grid-column(8);
		}

		@include breakpoint(medium) {
			@include grid-column(5);
			padding-top: 6rem;
		}

	}

	h1 {
		color: #fff;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

	h4 {
		color: #fefefe;
		font-weight: 300;
		font-size: 1.3125rem;
	}

}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}


// highlights
.highlights {
	@include grid-row();
	@include breakpoint(medium) {
		padding-left: 4%;
	}	
	text-align: center;



	header {
		@include grid-column(12);
		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
			font-weight: 300;
		}
	}

	.highlight{

		@include breakpoint(small) {
			@include grid-column(12);
			&:before{
				margin-top: 100%;
			}
			button{
				width:100%;
			}			
		}
		@include breakpoint(medium) {
			@include grid-column(3);
			&:before{
				margin-top: 80%;
			}
			button{
				width:80%;
			}				
		}		
		display: inline-block;
	    position: relative;
		&:before{
			content:"";
			display:block;
			margin-top:80%;
		}
		button {
			@include button-light();
			@include radius();
			@include shadow();			
		    position: absolute;
		    top: 0;
		    bottom: 0;
		    left: 0;
		    right: 0;
		}
		padding: 0 !important;



		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}

//
.courses {
	background: $lightest-blue;

	.inner{
		@include grid-row();
		max-width: 60rem;
		text-align: left;
		table{
			.icon{
				padding-left: 30px;
				color: $main-blue;
			}
		    border-collapse: separate;
		    border-spacing: 0;
			@include radius();
			@include shadow();
			overflow: hidden;
			background: $medium-gray;
			border: $border;
			thead{
				font-weight: 900;
			}
			thead, tbody .border:not:last-of-type{
				border-bottom: $border;
			}
			td a {
				@include button();
			}
			.course-button{
				text-align: right;
				padding-right: 30px;
			}
			.title{
				text-transform: uppercase;
			}
		}

	}

}

// Skills
.skills {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.skill {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 0.9375rem; }

	}


}

// Testimonial/Video
.testimonial-video {
	background: $lightest-blue;
	color: $white;
	.leaver {
		@include grid-row();

		.slidez,
		.video {

			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(6);
			}

		}

		.slidez{
		
			background-repeat: no-repeat;
	    	background-size: 20%;
	    	background-position: 5% 0;
	    	padding-right: 8.33333%;
	    	@include breakpoint(medium) {
	    		border-right: 1px solid #cacaca; 
			}

			.slide{
				padding: ($global-padding*5) 0 ($global-padding) ($global-padding*6);
				blockquote{
					@include blockquote();
				}

			}

	    }

		.video {

			@include breakpoint(medium) {
				@include grid-column(5);
				@include grid-column-offset(1);
			}
		}

	}


}

.flex-video.widescreen {
    @include radius($mass-radius);
    border: 30px $light-gray solid;
    background: $light-gray;
    iframe{
    	@include radius($mass-radius);
    }
}

.not-first-slide{
	display: none;
}