body.home, .home .off-canvas-content {
    background: $white;  
}

// Page header
#front-hero {
	background: $main-blue;
	.greeter {
		@include grid-row();

		.tagline,  
		.signup{
			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(6);
			}
			.subheader{
				color: $white,
			}
		}
		.signup{
			@include radius();
			@include shadow();
			background: $white;
			overflow: hidden;
			@include foundation-forms();
			width:calc(100% - 1.25rem);
			margin: 0 .675rem;
			h5{
			margin-left: -0.9375rem;
 	          margin-right: -0.9375rem;
 	          text-align: center;
 	          background: $footer-blue;
 	          padding: 10px;
 	          color: $white;
 	          margin-bottom: 1rem;
			}
			form{
				padding-bottom: 10px;
			}
			input[type="text"], input[type="email"]{
				@include foundation-form-text;
			}
			input[type="*"]{
				@include no-box();
			}
			input[type="submit"]{
				@include button();
			}
			@include breakpoint(small down){
				width:calc(100% - 1.25rem);
				margin: 0 auto;
				float: none!important;
			}
		}
	}

	@include breakpoint(small) {
		padding: 60px 0;
		margin: 0 0 rem-calc(32);
		height: auto;
		position: relative;
		text-align: left;
	}

	@include breakpoint(medium) {
		padding: 120px 0;
	}


	.tagline {

		@include breakpoint(small) {
			@include grid-column(8);
		}

		@include breakpoint(medium) {
			@include grid-column(5);
			padding-top: 6rem;
		}

	}

	h1 {
		color: #fff;

		@include breakpoint(small) {
			font-size: 2.2rem;
		}

		@include breakpoint(medium) {
			font-size: 2.875rem;
		}

	}

	h4 {
		color: #fefefe;
		font-weight: 300;
		font-size: 1.3125rem;
	}

}

// Intro
.intro {
	@include grid-row();

	.fp-intro {

		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(10);
			@include grid-column-offset(1);

			h2 {
				font-weight: 300;
				margin-bottom: 1.5rem;
			}

			h4 {
				font-size: 1.125rem;
				line-height: 1.6;
				color: #777;
				margin-bottom: 2rem;
			}

		}
	}
}


// highlights
.highlights {
	@include grid-row();
	@include breakpoint(medium) {
		padding-left: 4%;
	}	
	text-align: center;



	header {
		@include grid-column(12);
		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
			font-weight: 300;
		}
	}

	.highlight{

		@include breakpoint(small) {
			@include grid-column(12);
			&:before{
				margin-top: 100%;
			}
			button{
				width:calc(100% - 1.25rem);
				bottom: 1.25rem;
			}			
		}
		@include breakpoint(medium) {
			@include grid-column(3);
			&:before{
				margin-top: 80%;
			}
			button{
				width:80%;
				bottom: 0;
			}							
		}		
		display: inline-block;
	    position: relative;
		&:before{
			content:"";
			display:block;
			margin-top:80%;
		}
		button {
			@include button();
			@include radius();
			@include shadow();	
			border: $border;		
		    position: absolute;
			background-size: 800%;
    		background-position: center center;		    
		    top: 0;
		    left: .625rem;
		    right: 0;
		    transition: $transition;
		    &:hover,&:active{
		    	background-size: 500%;
		    }
		}
		// padding: 0 !important;



		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 1.2rem; }

	}

	.why-foundation {
		@include grid-row();
		@include grid-column(12);
		margin-top: 4rem;
	}

}

//
.courses {
	background: $lightest-blue;
	.wrap{
		@include grid-row();
		max-width: 50rem;
		.item-wrap{
			// @include grid-column(12);
			background-color: $white;
			@include radius();
			@include shadow();
			margin: 0 1rem;
			border: $border;
			header, .product {
				@include grid-column(12);
				@include padding-top-bottom();
				&:not(:last-child){
					border-bottom: 1px solid $dark-gray;
				}
			}
			@include breakpoint(small down){
				width:calc(100% - 1.25rem);
				margin: 0 auto;
				float: none!important;
			}
			.icon{
				@include breakpoint(small down){
					@include grid-column(4);
					margin-top: 10px;
				}
				@include breakpoint(medium){
					@include grid-column(2);

				}
				color: $main-blue;
			}
			.upcoming{
				@include breakpoint(small down){
					@include grid-column(8);
					margin-top: 10px;
				}
				@include breakpoint(medium){
					@include grid-column(10);
				}
				color: $main-blue;
			}			
			.content{
				@include breakpoint(small down){
					@include grid-column(8);
					margin-top: 15px;
				}
				@include breakpoint(medium){
					@include grid-column(7);
				}
			}
			.right{
				@include breakpoint(small down){
					@include grid-column(12);
					margin-top: 15px;
				}
				@include breakpoint(medium){
					@include grid-column(3);
				}
				a.button{
					margin-bottom: 15px;
				}
			}							
		}
	}

	// .inner{

	// @include grid-row();
	// 	max-width: 60rem;
	// 	text-align: left;
	// 	table{
		
	// 		.icon{
	// 			padding-left: 30px;
	// 			color: $main-blue;
	// 		}
	// 	    border-collapse: separate;
	// 	    border-spacing: 0;
	// 		@include radius();
	// 		@include shadow();
	// 		overflow: hidden;
	// 		background: $medium-gray;
	// 		border: $border;
	// 		thead{
	// 			font-weight: 900;
	// 		}
	// 		thead, tbody .border:not:last-of-type{
	// 			border-bottom: $border;
	// 		}
	// 		td a {
	// 			@include button();
	// 		}
	// 		.course-button{
	// 			text-align: right;
	// 			padding-right: 30px;
	// 		}
	// 		.title{
	// 			text-transform: uppercase;
	// 		}
	// 	}

	// }

}

// Skills
.skills {
	@include grid-row();
	text-align: center;

	header {
		@include grid-column(12);

		h4 {
			font-size: 1.125rem;
			line-height: 1.6;
			color: #777;
		}
	}

	.skill {
		@include breakpoint(small) {
			@include grid-column(12);
		}

		@include breakpoint(medium) {
			@include grid-column(3);
		}

		img {
			padding: 1.25rem;
    	margin: 1rem auto 0 auto;
		}

		h3 {
			color: #0a0a0a;
			font-weight: 300;
			font-size: 1.75rem;
		}

		p { font-size: 1.2rem; }

	}


}

// Testimonial/Video
.testimonial-video {
	background: $lightest-blue;
	color: $white;
	.leaver {
		@include grid-row();

		.slidez,
		.video {

			@include breakpoint(small) {
				@include grid-column(12);
			}

			@include breakpoint(medium) {
				@include grid-column(6);
			}

		}

		.slidez{
		
			background-repeat: no-repeat;
	    	background-size: 20%;
	    	background-position: 5% 0;
	    	padding-right: 8.33333%;
	    	@include breakpoint(medium) {
	    		border-right: 1px solid #cacaca; 
			}

			.slide{
				padding: ($global-padding*5) 0 ($global-padding) ($global-padding*6);
		    	@include breakpoint(small down) {
		    		padding: ($global-padding*5) 0 ($global-padding) ($global-padding);
				}
				blockquote{
					@include blockquote();
				}

			}

	    }

		.video {

			@include breakpoint(medium) {
				@include grid-column(5);
				@include grid-column-offset(1);
			}
		}

	}


}

.flex-video.widescreen {
    @include radius($mass-radius);
    border: 30px $light-gray solid;
    background: $light-gray;
    iframe{
    	@include radius($mass-radius);
    }
}

.not-first-slide{
	display: none;
}