// You'll Learn
#learn {
    background: $white;

    .wrap, .row {
        @include grid-row;
    }

    header, .image {
        @include grid-column(12);
    }

    header {
        margin-bottom: 2.5rem;
    }
}

// Testimonials
#different {
    background: $lightest-blue;
    color: $white;

    .wrap {
        @include grid-row;
    }

    header {
        @include grid-column(12);
    }

    .leaver {
        @include grid-row;

        .slidez {
            @include breakpoint(small) {
                @include grid-column(12);
            }


            @include breakpoint(medium) {
                @include grid-column(9);
            }


            background-repeat: no-repeat;
            background-size: 20%;
            background-position: 5% 0;

            .slide {
                padding: ($global-padding * 3) 0 0 ($global-padding * 5);

                @include breakpoint(small down) {
                    padding: ($global-padding * 5) 0 $global-padding $global-padding;
                }


                blockquote {
                    @include blockquote;
                    font-style: italic;
                }
            }
        }

        .sliderz {
            @include breakpoint(small) {
                @include grid-column(12);
            }


            @include breakpoint(medium) {
                @include grid-column(3);

                margin-top: 100px;
            }


            .slide {
                img {
                    border-radius: 50%;
                }
            }
        }
    }
}

.not-first-slide {
    display: none;
}