#footer-container {
	#footer *:not(input){
		color: $white !important;
	}
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: $footer-blue;
	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
		color: $white;
		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		.left,
		.right {
			@include breakpoint(small down) {
				@include grid-column(12);
				margin-bottom: 15px;
			}

			@include breakpoint(medium) {
				@include grid-column(3);
			}
			ul li{
				@include underline();
				border-color: $lightish-gray;
				font-family: Droid Sans Mono, monospace;
			}
			h5{
				text-transform: uppercase;
			}
		}
		.left{
			@include breakpoint(medium) {
				@include grid-column-offset(1);
			}			
		}
		.newsletter{
			@include breakpoint(small down) {
				@include grid-column(12);
				margin-bottom: 15px;
			}
			@include breakpoint(medium) {
				@include grid-column(5);
			}			
			input[type="text"], input[type="email"]{
				//@include foundation-form-text;
			}
			input[type="submit"]{
				@include button();
			}
			  .ajax-loader{
			    position: relative;
			    top: -5px;
			  }						
		}
		.social-icons{
			margin: 15px 0;
			.fa {
				font-size: 1rem;
    			padding: 8px 0;
			}
			a{
				background-color: $lightish-gray;
				display: inline-block;
				margin-right: 5px;
				transition: $transition;
				width: 30px;
				height: 30px;
				overflow: hidden;
				text-align: center;				
			}
			a:hover{
				box-shadow: inset 0 0 .5px .5px $medium-gray;
			}
		}
	}
}
