//Element Modifiers
article{
	padding: 100px 0;
	@include breakpoint(small down) { 
		padding: 50px 0;
	}
}
#page article{
    &:first-child{
    padding-top: 50px;
  }
}

button{
  @include radius();
  @include button();
  font-weight: bold;
      &:focus{
      box-shadow: inset 0 0 10px 3px $medium-gray;
    }
}

//Forms
form{
  position: relative;
  p{
    padding: 0;
    margin: 0;
  }
  .ajax-loader{
    position: relative;
    left: 0;
    top: -5px;
  }
  div.wpcf7-response-output {
    margin: 0em 0.5em 1em;
    padding: 0.2em 1em;
  }
  input[aria-invalid="false"]{
    margin-bottom: 1rem !important;
  }
  hr{
    margin: 0 0 1rem;
  }  
}

// .woocommerce .product form{
//       @include radius();
//       @include shadow();
//       overflow: hidden;
//       @include foundation-forms();
//       h5{
//       margin-left: -0.9375rem;
//             margin-right: -0.9375rem;
//             text-align: center;
//             background: $footer-blue;
//             padding: 10px;
//             color: $white;
//             margin-bottom: 1rem;
//       }
      // input[type="text"], input[type="email"]{
      //   @include foundation-form-text;
      // }
      // input[type="*"]{
      //   @include no-box();
      // }
.woocommerce form, .woocommqerce .product{      
      input[type="submit"], button.button, .button, a.button{
        @include button();
      }       
      input{
        @extend .input-group-field;
      }

}
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
  @include button();
  background-color:$main-blue!important;
}
::-webkit-input-placeholder {
   color: $dark-gray;
}
:-moz-placeholder { /* Firefox 18- */
   color: $dark-gray;  
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $dark-gray;  
}
:-ms-input-placeholder {  
   color: $dark-gray;  
}

input[type="submit"], .course-button a{
  font-weight: bold;
}

//Text
strong{
  color: $dark-gray;
}

h2{
  margin-bottom: 2.5rem;
}
h4{
  margin-bottom:0;
}