//Variables
$global-radius: 8px;
$small-radius:($global-radius*.85);
$large-radius:($global-radius*1.15);
$mass-radius:14px;
$border: 1px solid $dark-gray;

//Helpers
.mono {
 font-family: Droid Sans Mono, monospace;
}

.shadow{
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
}


//Mixins
@mixin radius($radius: $global-radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;  /* stops bg color from leaking outside the border: */
}

@mixin blockquote() {
	p{
	font-style: italic;

		&:before,&:after{
			content: '"';
		}
	}
	border: none;
}

@mixin button-arrow($color: $primary-color) {
  $color-hover: scale-color($color, $lightness: -50%);

  border: 1px solid $color;
  color: $color;

  &:hover, &:focus {
    border-color: $color-hover;
    color: $color-hover;
  }
}

@mixin underline($color: $dark-gray, $thickness: 1px) {
  border-bottom: $thickness $color solid
}

@mixin button-light($color: $light-blue) {
	@include button();	
  $color-hover: scale-color($color, $lightness: -10%);
  border: 1px solid $medium-gray;
  color: $white;
  background-color: $color;
  &:hover, &:focus {
    background-color: $color-hover;
  }
}

/***
Custom CSS
***/


//Element Modifiers
article{
	padding: 100px 0;
	@include breakpoint(small down) { 
		padding: 50px 0;
	}
}

button{
  @include button();
}

//Forms
form{
  position: relative;
  p{
    padding: 0;
    margin: 0;
  }
  .ajax-loader{
    position: relative;
    left: 0;
    top: -5px;
  }
  div.wpcf7-response-output {
    margin: 0em 0.5em 1em;
    padding: 0.2em 1em;
  }
  input[aria-invalid="false"]{
    margin-bottom: 1rem !important;
  }
  hr{
    margin: .5rem 0 1rem;
  }  
}
